.modal.fade(id="comment")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4.modal-title Напишите отзыв и поставьте оценку исполнителю
            .modal-body
                form(ng-submit="AddComment()", name="addComment", id="addcomment")
                    textarea.message(rows=5,name="comment",placeholder="Отзыв", ng-model="result.comment")
                    div(ng-show="isEmpty(addComment.comment.$error)",style="color: #F2B1B1") {{addComment.comment.$error}}
                    input(type="radio",name="mark",value="0", ng-model="result.mark")
                    | Положительная
                    input(type="radio",name="mark",value="1", ng-model="result.mark")
                    | Нейтральная
                    input(type="radio",name="mark",value="2", ng-model="result.mark")
                    | Отрицательная
                    button.btn.btn-default(type="submit") Отправить
            .modal-footer
                button.btn.btn-default.no(type='button', data-dismiss='modal') Закрыть
