.modal.fade(id="dispute")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4.modal-title Напишите причину арбитража
            .modal-body
                form(ng-submit="SendDispute()", name="addDispute", id="addDispute")
                    textarea.message(rows=12,name="dispute",placeholder="Причина арбитража",ng-model="dispute.message")
                    div(ng-show="isEmpty(addDispute.dispute.$error)",style="color: #F2B1B1") {{addDispute.dispute.$error}}
                    .modal-footer
                        button.btn.btn-primary(type="submit") Отправить жалобу
                        button.btn.btn-default.no(type='button', data-dismiss='modal') Закрыть