nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-brand
            a FF
        a(href="/task/get").btn.btn-success.navbar-btn Исполнитель
        a(href="/task/add").btn.btn-default.navbar-btn Заказчик
        p.navbar-text.navbar-right Добро пожаловать, #{user.name}!



