.request
    include request_header
    .authors
        .author(ng-repeat="author in request.requests") {{author.executer.name}}
            i(data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right").fa.fa-plus-square
            i(data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right").fa.fa-minus-square

