.task
    .task_header(id='{{task._id}}',ng-click="ClickTaskHeader(task._id)")
        span {{task.header}}
        span {{task.price}}
        marquee(ng-show="checkTask(task,'#{user._id}')") Вы уже подавали заявку на это задание!
        i.fa.fa-check-square-o(ng-show="!checkTask(task,'#{user._id}')",ng-click="SendRequest(task._id); $event.stopPropagation();")

    .task_content
        p.category {{task.category.name}}
        p.description  {{task.description}}
        span.deadline Деадлайн: {{task.deadline | date: 'dd.MM.yyyy'}}
        span.created Дата рамещения: {{task._created | date: 'dd.MM.yyyy'}}
        p.attach_files Прикрепленные файлы
        ul
            li(ng-repeat="file in task.files")
                i.fa.fa-file-o
                a(href="http://localhost:8080/uploads/{{file.name}}") {{file.original}}
    .task_footer
        span Заказчик: {{task.author.name}}

