@import "settings"
body
  padding-top: 70px
ul
  list-style-type: none
  li
    cursor: pointer
    transition: all .5s ease
    a
      text-decoration: none
      color: #fff
      transition: all .2s ease
      &:hover
        text-decoration: none
        color: #fff
li:before
  content: "\f0da"
  font-family: FontAwesome
  padding-right: 5px
li.last:hover a
  background-color: $green
li.last:before
  content: ''

li>ul
  display: none
form
  text-align: center
  textarea
    resize: none
  p
    text-align: left
  input,textarea
    margin-bottom: 10px

  .attach
    text-align: left
  input[type=file]
    display: inline-block
  span
    vertical-align: top
    margin-right: 10px
button
  background-color: $bgc