.dropdown
  li
    padding: 0 5px
    cursor: pointer
.main
  padding-top: 40px
.chat
  background-color: #ffffff
  max-height: 350px
  overflow: auto
  padding: 15px
  .mes
    background-color: #a9ccc2
    color: #000
    margin-bottom: 10px
    border-radius: 4px
    padding: 10px
    a
      color: #ff6e1f
      font-size: 12px
    span
      float: right
      font-size: 12px