@import settings.sass
body
  padding-top: 70px
a
  cursor: pointer
form
  text-align: center
  textarea
    resize: none
  p
    text-align: left
ul
  list-style-type: none
  .positive
    color: $green
  .neitral
    color: $blue
  .negative
    color: $red
.rating
  font-weight: bold
#upload
  display: none
  margin-bottom: 25px
  input,textarea
    margin-bottom: 10px
  button
    background-color: $bgc
#addwork
  cursor: pointer
#profile
  form
    margin-bottom: 20px
.item
  height: 100px
  background-color: transparent
  cursor: pointer
  margin-bottom: 10px
  text-align: center
  i
    display: block
    color: $green
    font-size: 50px
  p
    font-size: 12px
.modal
  i
    margin-right: 10px
#register, #authorize
  width: 400px
  margin: auto
  margin-bottom: 20px
  input
    margin-top: 10px
  p
    text-align: center
    text-transform: uppercase
  button
    width: 180px
    margin-top: 10px
.valid_mes
  color: $error
  float: right
  font-size: 12px
  margin-bottom: 5px
.valid_notification
  color: $error


  

