@import settings.sass
body
  padding-top: 70px
a
  cursor: pointer
form
  text-align: center
  textarea
    resize: none
  p
    text-align: left
ul
  list-style-type: none
  .positive
    color: $green
  .neitral
    color: $blue
  .negative
    color: $red
.rating
  font-weight: bold
input[type=file]
  width: 1px
  height: 1px
#upload
  display: none
  margin-bottom: 25px
  input,textarea
    margin-bottom: 10px
  .attach
    text-align: left
  input[type=file]
    display: inline-block
  span
    vertical-align: top
    margin-right: 10px
  button
    background-color: $bgc
#addwork
  cursor: pointer
#profile
  form
    margin-bottom: 20px
.item
  height: 100px
  background-color: transparent
  cursor: pointer
  margin-bottom: 10px
  text-align: center
  i
    display: block
    color: $green
    font-size: 50px
  p
    font-size: 12px
.modal
  i
    margin-right: 10px

  

