@import "settings"
.request_status
  border-bottom: 1px solid #fff
  margin-bottom: 10px
  font-size: 15px
  text-transform: uppercase
.request
  position: relative
  margin-bottom: 20px
  span
    line-height: 40px
    padding-left: 20px
  .icon_set
    position: absolute
    right: 0
    display: inline-block
    padding-top: 2px
    i
      font-size: 24px
      cursor: pointer
      margin: 0 5px
  .header
    background-color: $green
    position: relative
    .icon_set
      padding-top: 7px
      padding-right: 10px

  .author
    width: 50%
    height: 30px
    border-top: none
    line-height: 30px
    cursor: pointer
    position: relative
    padding-left: 10px
    display: block
    background-color: $bgclight
    border-bottom: 1px solid black
    color: #fff
    &:hover
      color: #ffffff
      text-decoration: none
    &:last-child
      border-bottom: none
#dispute
  textarea
    width: 100%
    text-indent: 10px
    resize: none
.dispute .header
  background-color: red
