extend layout
block additional_styles
    link(rel="stylesheet",href="/css/auth.css")
block content
    h2 Биржа фриланса
    div(ng-controller='RegisterCtrl')
        form( id="register", method="post", name="registerForm")
            p Регистрация
            input(type="text",placeholder="Имя",class="form-control" ,name="name", ng-model="name")
            div(ng-show="isEmpty(registerForm.name.$error)",style="color: #F2B1B1") {{registerForm.name.$error}}
            input(type="text",placeholder="Логин",class="form-control", name="login", ng-model="login")
            div(ng-show="isEmpty(registerForm.login.$error)",style="color: #F2B1B1") {{registerForm.login.$error}}
            input(type="text",placeholder="Email",class="form-control", name="email", ng-model="email")
            div(ng-show="isEmpty(registerForm.email.$error)",style="color: #F2B1B1") {{registerForm.email.$error}}
            input(type="password",placeholder="Пароль",class="form-control", name="password", ng-model="password")
            div(ng-show="isEmpty(registerForm.password.$error)",style="color: #F2B1B1") {{registerForm.password.$error}}
            button(type="submit",class="btn btn-primary") Зарегистрироваться
    div(ng-controller='AuthCtrl')
        form(method="post", id="authorize")
            p Авторизация
            input(type="text",placeholder="Логин",class="form-control" name="login",required)
            input(type="password",placeholder="Пароль",class="form-control", name="password",required)
            button(type="submit",class="btn btn-primary") Войти
block additional_scripts
    script(src="/js/user.js")


