extends layout
block additional_styles
    link(rel="stylesheet",href="/css/request.css")
    link(rel="stylesheet",href="/css/executer.css")
block content
    include includes/navbar
    include mixins/genGroupField
    .container-fluid(ng-controller="TaskCtrl", ng-init="loadMyTasks()")
        .row
            include includes/notifications
            .col-lg-6.col-md-6.col-sm-7.col-lg-offset-3.col-md-offset-3
                include includes/customer_menu
                .row
                    p Всего заданий: {{my_tasks.length}}
                        .col-lg-12(ng-repeat="task in my_tasks")
                            include includes/my_task
            include includes/top
block additional_scripts
    script(src="/js/controllers/task.js")





