extends layout
block additional_styles
    link(rel="stylesheet",href="/css/customer.css")
    link(rel="stylesheet",href="/libs/OwlCarousel/owl-carousel/owl.carousel.css")
    link(rel="stylesheet",href="/libs/OwlCarousel/owl-carousel/owl.theme.css")
block content
    include includes/navbar
    include mixins/genGroupField
    .container-fluid(ng-controller="TaskCtrl")
        .row
            include includes/messages
            .col-lg-6
                include includes/customer_menu
                .row
                    #owl-carousel
                        .col-lg-12
                            p Выберите категорию
                            #list_category
                            button.btn.btn-primary.continue Продолжить
                        .col-lg-12
                            p Заполните необходимые поля
                            .well
                                form(action="/task/add", method="post", id="addtask", enctype="multipart/form-data")
                                    +genGroupField('header','Заголовок',"")(tag='input',type="text")
                                    +genGroupField('description','Описание',"")(tag='textarea')
                                    +genGroupField('price','Цена',"")(tag='input',type="number")
                                    +genGroupField('category_name','Категория',"")(tag='input',type="text")
                                    input(type="hidden",name="category_id")
                                    +genGroupField('deadline','Срок сдачи',"")(tag='input',type="datetime")
                                    +genGroupField('files','Прикрепите файлы',"")(tag='input',type="file",other="multiple")
                                    button.btn.btn-primary.prev Назад
                                    button.btn.btn-primary.continue(type="submit") Продолжить
            include includes/last_tasks
block additional_scripts
    script(src="/js/controllers/task.js")
    script(src="/js/category.js")
    script(src="/libs/OwlCarousel/owl-carousel/owl.carousel.js")



