extends layout
block additional_styles
    link(rel="stylesheet",href="/css/dispute.css")
    link(rel="stylesheet",href="/css/executer.css")
    link(rel="stylesheet",href="/css/passive_task.css")
    link(rel="stylesheet",href="/css/dispute.css")
block content
    .container(ng-controller="Dispute")
        .row
            .col-lg-12
                a.btn.btn-sm.btn-primary.profile(href="/user/#{user._id}") Вернуться в профиль
                .dropdown
                    button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                        | Задания в арбитраже
                        span.caret
                    ul.dropdown-menu
                        li(ng-repeat="item in ids",ng-click="getInfo(item._id)") {{item._id}}
        .row.main(ng-show="task")
            .col-lg-7.col-md-7.col-sm-7
                include includes/task
            .col-lg-5.col-md-5.col-sm-5
                div.chat
                    div.mes(ng-repeat="mes in messages")
                        p {{mes.text}}
                        a {{mes.author.name}}
                        span {{mes.datePublish| date:'dd MMMM HH:mm'}}
            .container
                .row.data
                    .col-lg-6.col-md-6.col-sm-6
                        p Исполнитель
                        span Сообщение от исполнителя
                        div.alert.alert-success(role="alert") {{task.result.message}}
                        span Прикрепленные файлы
                        ul
                            li(ng-repeat="file in task.files")
                                i.fa.fa-file-o
                                a(href="http://localhost:8080/uploads/{{file.name}}") {{file.original}}
                    .col-lg-6.col-md-6.col-sm-6
                        p Заказчик
                        span Жалоба заказчика
                        div.alert.alert-danger {{task.dispute}}
            .container
                .row.solution
                    .row
                        h4 Решение арбитража
                    form(ng-submit="submitComment(task._id)",name="addComment", id="disp")
                        .row
                            .col-lg-offset-2.col-lg-8.col-md-8.col-sm-8
                                textarea.form-control(rows="8",placeholder="Сообщение арбитража",name="comment",ng-model="comment.message")
                                div(ng-show="isEmpty(addComment.comment.$error)",style="color: #F2B1B1") {{addComment.comment.$error}}
                                .marks
                                    p Оценка исполнителя:
                                    input(type ='radio', name='mark',value="0", ng-model="comment.mark",required)
                                    |    Положительная
                                    br
                                    input(type ='radio', name='mark', value="1", ng-model="comment.mark")
                                    |    Нейтральная
                                    br
                                    input(type ='radio', name='mark', value="2",ng-model="comment.mark" )
                                    |    Отрицательная
                            .col-lg-2.col-md-4.col-sm-4.choose
                                label
                                    input(type='radio',name="choose", value='0',ng-model="comment.choose", required)
                                    |    В пользу заказчика
                                label
                                    input(type='radio', name="choose",value='1', ng-model="comment.choose")
                                    |    В пользу исполнителя
                        .btn-wrap
                            button.btn.btn-success(type="submit") Отправить решение

block additional_scripts
    script(src="/js/controllers/dispute.js")

