extends layout
block additional_styles
    link(rel="stylesheet",href="/css/executer.css")
block content
    include includes/navbar
    .container-fluid(ng-controller="TaskCtrl",  ng-init="getTasks(1);")
        .row
            include includes/notifications
            .col-lg-6.col-md-6.col-sm-7
                include includes/executer_menu
                .row
                    p Всего заданий: {{tasks.length}}
                    .col-lg-12(ng-repeat="task in tasks")
                        include includes/task
                    include includes/paginator
            include includes/top
        .modal.fade(id="modal_message")
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                        h4.modal-title Напишите свое сообщение
                    .modal-body
                        form(ng-submit="SendRequest()", name="addRequest", id="addRequest")
                            textarea.message(name="message",placeholder="Сообщение",ng-model="result.message")
                            div(ng-show="isEmpty(addRequest.message.$error)",style="color: #F2B1B1") {{addRequest.message.$error}}
                            button.btn.btn-primary(type="submit") Отправить заявку
                    .modal-footer
                        button.btn.btn-default.no(type='button', data-dismiss='modal') Закрыть

block additional_scripts
    script(src="/js/controllers/task.js")


