extends layout
block additional_styles
    link(rel="stylesheet",href="/css/request.css")
block content
    include includes/navbar
    .container-fluid(ng-controller="RequestCtrl")
        .row
            include includes/messages
            .col-lg-6
                include includes/executer_menu
                .row
                    p.request_status Поиск исполнителей
                    div.request(ng-repeat="request in own_requests")
                        include includes/request/executer/request_search
                    p.request_status В работе
                    div.request(ng-repeat="request in own_requests")
                        include includes/request/executer/request_in_work
                    p.request_status Арбитраж
            include includes/last_tasks
block additional_scripts
    script(src="/js/controllers/request.js")





