extends layout
block additional_styles
    link(rel="stylesheet",href="/css/request.css")
    link(rel="stylesheet",href="/css/chat.css")
block content
    include includes/navbar
    .container-fluid(ng-controller="RequestCtrl")
        .row
            include includes/notifications
            .col-lg-6.col-md-6.col-sm-7.col-lg-offset-3.col-md-offset-3
                include includes/customer_menu
                .row(ng-controller="Chat as chat")
                    p.request_status Поиск исполнителей
                    div.clearfix.reqs(ng-repeat="request in requests.req_search")
                        include includes/request/customer/request_search
                    p.request_status В работе
                    div.clearfix.reqs(ng-repeat="request in requests.req_work")
                        include includes/request/customer/request_in_work
                    p.request_status Ожидают проверки
                    div.clearfix.reqs(ng-repeat="request in requests.req_check")
                        include includes/request/customer/request_in_check
                    p.request_status Арбитраж
                    div.clearfix.reqs(ng-repeat="request in requests.req_dispute")
                        include includes/request/customer/request_in_dispute
                    p.request_status Выполнено
                    div.clearfix.reqs(ng-repeat="request in requests.req_complete")
                        include includes/request/customer/request_complete
            include includes/top
            include includes/dispute
block additional_scripts
    script(src="/js/controllers/request.js")






