extends layout
block additional_styles
    link(rel="stylesheet",href="/css/customer.css")
    link(rel="stylesheet",href="/css/executer.css")
    link(rel="stylesheet",href="/css/passive_task.css")
block content
    include includes/navbar
    include mixins/genGroupField
    .container-fluid(ng-controller="TaskCtrl")
        .row
            include includes/notifications
            .col-lg-6
                .row
                    p Прикрепите необходимые файлы
                    .div(ng-init="task= #{JSON.stringify(task)}")
                        include includes/task
                    form(ng-submit="sendResult()", id="sendresult", name="sendresult", enctype="multipart/form-data")
                        +genGroupField('message','Сообщение',"","message")(tag='textarea')
                        +genGroupField('files','Прикрепите файлы',"","files")(tag='input',type="file",other="multiple")
                        input(name='task',value='{{task._id}}',type='hidden')
                        button.btn.btn-primary.continue(type="submit") Отправить
            include includes/top
block additional_scripts
    script(src="/js/controllers/task.js")




