body {
  padding-top: 70px;
}

a {
  cursor: pointer; }

form {
  text-align: center; }
  form textarea {
    resize: none; }
  form p {
    text-align: left; }

ul {
  list-style-type: none; }

#stats {
  text-transform: uppercase;
  font-weight: bold; }
  #stats .positive {
    color: #62cc79; }
    #stats .positive .progress-bar {
      background-color: #62cc79; }
  #stats .neitral {
    color: #5BC0DE; }
    #stats .neitral .progress-bar {
      background-color: #5BC0DE; }
  #stats .negative {
    color: #D9534F; }
    #stats .negative .progress-bar {
      background-color: #D9534F; }

.progress {
  margin-top: 10px; }

.rating {
  font-weight: bold; }

#upload {
  display: none;
  margin-bottom: 25px; }
  #upload input, #upload textarea {
    margin-bottom: 10px; }
  #upload button {
    background-color: #2B3E50; }

#addwork {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 5px; }

#profile form {
  margin-bottom: 20px; }

.item {
  height: 100px;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center; }
  .item i {
    display: block;
    color: #62cc79;
    font-size: 50px; }
  .item p {
    font-size: 12px; }

.modal i {
  margin-right: 10px; }

#register, #authorize {
  margin: auto;
  width: 400px;
  margin-bottom: 20px;
 }
  #register input, #authorize input {
    margin-top: 10px; }
  #register p, #authorize p {
    text-align: left;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    text-transform: uppercase; }
  #register button, #authorize button {
    width: 180px;
    margin-top: 10px; }

.valid_mes {
  color: #ff4b46;
  float: right;
  font-size: 12px;
  margin-bottom: 5px; }

.valid_notification {
  color: #ff4b46; }

.customer_menu li {
  display: inline-block;
  margin-right: 25px; }

.fa-caret-down {
  margin-left: 3px; }

.messages p {
  text-transform: uppercase; }

.last-tasks p {
  text-transform: uppercase; }

canvas {
  width: 100% !important;
  height: auto;
  background-color: #ffffff;
  margin-top: 10px; }

.rating_table {
  height: 80vh;
  font-weight: normal;
  border: 1px dashed #fff; }

.review {
  border: 1px solid #fff;
  padding: 5px;
  margin-bottom: 10px; }
  .review span {
    display: inline-block;
    border-bottom: 1px solid #fff;
    background-color: #62cc79;
    padding: 0 5px; }
  .review p {
    margin-top: 5px;
    font-style: italic; }
  .review .customer {
    float: right; }

.dateFilter {
  display: block; }
  .dateFilter a {
    margin-right: 15px; }
    .dateFilter a:last-child {
      margin-right: 0; }
