.header
    span {{request.task.header}}
    .icon_set
        i.fa.fa-envelope(ng-click="showChat($event, request.task._id)")
        a(href="/request/sendresult/{{request._id}}"): i.fa.fa-check
        i.fa.fa-balance-scale
include ../../chat

